{% extends 'base.html' %}
{% block content %}
<div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                           <form method="post" action="{% url 'add_admin' %}" enctype="multipart/form-data"> <!-- as we are using profile pic img so enctype is used-->
                               {% csrf_token %}
                                <div class="col-12">
                                    <h5 class="form-title"><strong>Add Admin</strong></h5>
                                </div>
                               {% if messages %}
                               {% for message in messages %}
                               {% if message.tags == 'error' %}
                               <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                   <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                               </button>
                                </div>
                                   {% endif %}
                                   {% endfor %}
                                   {% endif %}
                               {% if messages %}
                               {% for message in messages %}
                               {% if message.tags == 'success' %}
                              <div class="alert alert-success alert-dismissible fade show" role="alert">
                                   <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                               </button>
                                </div>
                              {% endif %}
                              {% endfor %}
                              {% endif %}
                               {% if messages %}
                               {% for message in messages %}
                               {% if message.tags == 'warning' %}
                               <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                   <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                               </button>
                                </div>
                                   {% endif %}
                                   {% endfor %}
                                   {% endif %}
                               <div class="col-sm-11">
                                    <div class="form-group" >
                                       <label class="required">First Name</label>
                                       <input type="text" class="form-control" name="first_name" required>
                                    </div>
                               </div>
                               <div class="col-sm-11">
                                    <div class="form-group" >
                                       <label class="required">Last Name</label>
                                       <input type="text" class="form-control" name="last_name" required >
                                    </div>
                               </div>
                                  <div class="col-sm-11">
                                    <div class="form-group" >
                                       <label class="required">Admin ID</label>
                                       <input type="text" class="form-control" name="adminId" required>
                                    </div>
                               </div>
                               <div class="col-sm-11">
                                    <div class="form-group" >
                                       <label class="required">Username</label>
                                       <input type="text" class="form-control" name="username" required>
                                    </div>
                               </div>
                               <div class="col-sm-11">
                                    <div class="form-group" >
                                       <label class="required">Password</label>
                                       <input type="password" class="form-control" name="password" required >
                                    </div>
                               </div>
                               <div class="col-sm-11">
                                    <div class="form-group">
                                       <label>Profile Picture</label>
                                       <input type="file" class="form-control" name="profile_pic" >
                                    </div>
                               </div>
                               <div class="col-sm-11">
                                    <div class="form-group">
                                       <label class="required">DOB(DD-MM-YYYY)</label>
                                       <input type="date" class="form-control" name="dob" required>
                                    </div>
                               </div>
                               <div class="col-sm-11">
                                    <div class="form-group">
                                       <label class="required">Email</label>
                                       <input type="text" class="form-control" name="email" required>
                                    </div>
                               </div>
                               <div class="col-sm-11">
                                    <div class="form-group">
                                       <label class="required">Phone Number</label>
                                       <input type="text" class="form-control" name="phone_number" required>
                                    </div>
                               </div>
                               <div class="col-sm-11">
                                    <div class="form-group">
                                       <label class="required">Dependent's Name</label>
                                       <input type="text" class="form-control" name="dependent_name" required>
                                    </div>
                               </div>
                               <div class="col-sm-11">
                                    <div class="form-group">
                                       <label class="required">Dependent's Phone Number</label>
                                       <input type="text" class="form-control" name="dependent_phone_number" required>
                                    </div>
                               </div>
                               <div class="col-sm-11">
                                    <div class="form-group">
                                       <label class="required">Address</label>
                                       <textarea class="form-control" name="address" required></textarea>
                                    </div>
                               </div>
                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Save</button>&nbsp;
                                 </div>
                               <!--   <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                 </div> -->
                           </form>
                        </div>
                     </div>
                  </div>
               </div>


{% endblock %}