{% extends "base_i.html"%}
{% block start %}
<div class="continer">
    <form method="post" action="{% url 'change_password' token %}" class="form" id="form">
        {% csrf_token %}
        <h4>Reset Password</h4>
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <br>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" name="new_password"  class="form-control">

        </div>



        <div class="form-group">
            <label for="password">Confirm password</label>
            <input type="text" name="confirm_password"   class="form-control">

        </div>


        <input type="hidden" name="id" value="{{id}}">


        <button class="btn" type="submit">Submit</button>

    </form>
</div>

{% endblock %}